.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1152px; /*1280-64*2 = 1152*/
  }
  
  .grid {
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .information {
    position: relative;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #f4f5f5;
  }
  
  .information-text {
    grid-column: span 6;
  }
  
  .information-title {
    margin: 0;
    max-width: 70%;
    font-family: "Libre Baskerville", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #003331;
  }
  
  .information-list {
    display: grid;
    column-gap: 32px;
    grid-column: 7 / span 6;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 36px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .information-item {
    grid-column: span 3;
  }
  
  .information-num {
    margin: 0;
    font-family: "Public Sans", sans-serif;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
;
  }
  
  .information-description {
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #355362 80%;
  }