.information-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #f9f9f9;
}

.main-text {
  flex: 1;
  margin-right: 50px;
}

.main-text h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 31px;
  line-height: 38px;
  letter-spacing: 1.2px;
  color: #003331;
}

.info-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 2;
}

.info-card {
  background-color: #f9f9f9; /* Match background color to remove the border effect */
  padding: 20px;
  border-radius: 8px;
  /* Remove box shadow */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.info-card h2 {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #003331; /* Match the color to your design */
}

.info-card p {
  font-size: 16px;
  color: #555555; /* Adjust this color to match your design */
}
